* {
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}
body{
    background: #1f1f1f;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 2.5rem;
    position: relative;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 1rem;
    /* max-width: 90%; */
    text-align: center;
}
h2{
    font-size: 2rem;
    position: relative;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    /* max-width: 80%; */
    text-align: center;
}
.max-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}
.input-container{
    display: flex;
    flex-direction: row;
    margin:10px;
    align-items: center;
    justify-content: center;
}
.passwordCheck.error{
    visibility:visible;
}.passwordCheck{
    visibility:hidden;
}
.submit{
    border:none;
    border-radius:  0px 5px 5px 0px;
    width: 80px;
    height:40px;
    padding: 0.2rem;
    margin: 0.2rem 0.5rem;
    margin-left: 0px;
    background: rebeccapurple;
    cursor: pointer;
}
.password{
    border:none;
    border-radius: 5px 0px 0px 5px;
    width: 400px;
    height:40px;
    padding: 0.2rem;
    margin: 0.2rem 0.5rem;
    margin-right: 0;
    color: rebeccapurple;
    font-size: 1rem;
}
.submit:hover{
    background: rgb(61, 27, 94);
}
@media (min-width: 301px) and (max-width: 599px){
    h1{
        visibility:hidden;
    }
    h2{
        font-size: 1rem;
    }
    .input-container{
        flex-direction: column;
    }
    .password {
        width: 250px;
        border-radius: 5px 5px 0px 0px;
        margin: 0.2rem 0.5rem;
        margin-bottom: 0;
    }
    .submit{
        width:250px;
        margin: 0.2rem 0.5rem;
        margin-top: 0;
        border-radius: 0px 0px 5px 5px;
    }
}
@media (max-width: 300px){
    h1{
        visibility:hidden;
    }
    h2{
        font-size: 1rem;
    }
    .input-container{
        flex-direction: column;
    }
    .password {
        width: 200px;
        border-radius: 5px 5px 0px 0px;
        margin: 0.1rem 0.3rem;
        margin-bottom: 0;
    }
    .submit{
        width:200px;
        margin: 0.1rem 0.3rem;
        margin-top: 0;
        border-radius: 0px 0px 5px 5px;
    }
    .input-container{
        margin: 0;
    }
}
@media (min-width: 600px) and (max-width: 1000px){
    h1{
        visibility:hidden;
    }
    .password{
        width: 350px;
    }
}
@media (min-width: 1001px) and (max-width: 1399px){
    h1{
        font-size: 2rem;
    }
    .password{
        width: 500px;
    }
}